<div class="portlet portlet-sortable light bg-grey-cararra" id="{{ section.id }}">
    <div class="portlet-title">
        <div class="caption" style="display: flex;">
            <div class="drag">
                <span aria-hidden="true" class="icon-cursor-move"></span>
            </div>
            <h4><span class="name">{{ section.translations[langCode].title }}</span>
                <span class="badge badge-default"> default </span>
            </h4>
        </div>
        <div class="actions">
            <a href="javascript:;" data-portlet-toggle="true" class="btn btn-circle purple btn-outline"
               style="margin-right:20px;">
                <span aria-hidden="true" class="icon-grid"></span> Section management </a>
            {% if disabled is not defined or (disabled is defined and disabled != true) %}
                <a href="" class="btn btn-circle btn-icon-only btn-default fullscreen"> </a>
                <a class="btn btn-circle btn-icon-only btn-default" data-toggle="modal" data-target="#ajax"
                   href="{{ path(routeElement~'_section_edit', {'section': section.id, 'lang': langCode}) }}">
                    <i class="icon-wrench"></i>
                </a>
                <a href="#" data-amodal-msg="Are you sure, that you want to delete chosen section and fields?"
                   data-amodal-type="danger"
                   data-amodal-url="{{ path(routeElement~'_section_delete', {'section': section.id, 'lang': langCode}) }}"
                   class="btn btn-circle btn-icon-only btn-default"><i class="icon-trash"></i></a>
            {% endif %}
        </div>
        <div class="navigation-anchor-area">
            {% include '@Grid/sections/partials/navigated.html.twig' %}
        </div>
    </div>
    <div class="portlet-body expand" style="display: none;">
        {% set template = template(section.template) %}
        {% if template['preview'] != false %}
            <div class="row">
                <div class="col-md-4">
                    <img src="{{ asset(template['preview']) }}" style="max-width: 100%"/>
                </div>
                <div class="col-md-8">
                    {% if section.fields is not empty %}
                        {% include '@Grid/sections/default/sections_fields_views.html.twig' %}
                    {% else %}
                        <h4 class="text-left">Fields not provided for that section.</h4>
                    {% endif %}
                </div>
            </div>
        {% else %}
            {% if section.fields is not empty %}
                {% include '@Grid/sections/default/sections_fields_views.html.twig' %}
            {% else %}
                <h4 class="text-left">Fields not provided for that section.</h4>
            {% endif %}
        {% endif %}
    </div>
</div>
